body {
    background: url(../image/3550054.jpg) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
   }

.photo{
	border-radius: 48%;
}

.cv-page{
	text-align: center;
	color: #fff;
}

.name{
	font-size: 23px;
}

.header{
	font-size: 25px;
}

.info{
	font-size: 18px;
}